path.domain {
    stroke: ghostwhite;
}

path.line {
    stroke: #BB86FC;
    fill: none;
    stroke-width: 2px;
}

g.x.axis.text {
    color: ghostwhite;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.tooltip-date{
    font-size: 12px;
    color: #000;
}
.tooltip-price{
    font-size: 12px;
    color: #000;
}

.tooltip-text{
    font-size: 12px;
    color: #000;
}

.tooltip{
    /* stroke: #1F1A24; */
    border-radius: 25px;
}

rect.tooltip {
    fill: #03DAC5;
    rx: 4;
    ry: 4;
}

.componentTitle{
    font-size: 24px;
    color:#fff;
    font-weight: bold;
    text-anchor: middle;
}

path.volume{
fill: none;
stroke: #4169e1;
stroke-width: 4px;
}

path.volume {}